ui-windowmanager {
    position: fixed;
    top: 3rem !important;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
}

.testCont {
    padding: 0.5rem;

    >*+* {
        margin-top: 0.3rem;
    }
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    >* {
        width: 100%;
        height: 100%;
    }
}